{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistopía</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/css/normalize.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/logo.jpeg' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
</head>
<body>

    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar a la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>

                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <!--Formulario de login y registro-->
            <div class="contenedor__login-register">

                <!--Login-->
                <form method ="POST" class="formulario__login">
                    {% csrf_token %}
                    <h2>Iniciar Sesión</h2>
                    <input name = "username" type="text" maxlength ="200"  placeholder="Usuario">
                    <input name = "password" type="password"  maxlength ="200" placeholder="Contraseña" required>
                    <a class="forgot-link" href="/password_reset/">¿Olvidaste tu contraseña?</a>
                    <a class="forgot-link" href="/">Navega sin cuenta</a>
                    <button>Entrar</button>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alerta {{ message.tags }}">
                                <div class="icono-alerta">
                                    <span class="material-symbols-outlined">
                                        info
                                    </span>
                                </div>
                                <div class="texto-alerta">


                                    <h5>{{ message }}</h5>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
                <!--Registro-->
                <form action="/signup/" method="POST" class="formulario__register">
                    {% csrf_token %}
                    <h2>Registrarse</h2>
                    <input name="email" type="text" placeholder="Correo Electronico" maxlength ="200"  required>
                    <input name="username" type="text" placeholder="Usuario" maxlength ="200"  required>
                    <input name="password" type="password" placeholder="Contraseña" minlength="8" required>
                    <input name="confirm-password" type="password" placeholder="Confirma la contraseña" required>
                    <button>Registrarse</button>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alerta {{ message.tags }}">
                                <div class="icono-alerta">
                                    <span class="material-symbols-outlined">
                                        info
                                    </span>
                                </div>
                                <div class="texto-alerta">


                                    <h5>{{ message }}</h5>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </main>

    <script src="{% static '/assets/js/script.js' %}"></script>

</body>
</html>