{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistopía</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/css/normalize.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/logo.jpeg' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
</head>
<body>

    <main>
                <!--Login-->
                <form action= "" method ="POST" class="formulario__login">
                    {% csrf_token %}
                    <h2>Configuración</h2>
                    <h2>{{id}}</h2>
                    <input name = "data" type="text" placeholder="" required><br>
                    {% if pass %}
                        <input name = "confirm_password" type = "password" placeholder = "Confirma nueva contraseña" required><br>
                    {% endif %}
                    <input name = "curr_password" type = "password" placeholder = "Contraseña actual" required>
                    <button>Cambiar</button>
                </form>
            {% if messages %}
                {% for message in messages %}
                    <h1>{{message}}</h1>
                {% endfor %}
            {% endif %}
    </main>
</body>
</html>