{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistopía dataModify </title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/logo.jpeg' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body>

    <main>
        <div class="contenedor__todo">
            
                
            <!--Formulario de modificación de datos-->
            <div action="" class="contenedor__dataModify" id="blur">

                <style>
                    .contenedor__dataModify form button{
                        margin-left: 69px;
                    }

                    .texto-alerta {
                        margin-left: 23px;
                    }

                    .alerta {
                                width: 84%;
                                margin-left: 28px;
                            }

                </style>
              
                <form class="formulario__actualizaDatos" action = "./username/">
                    <h2>Datos del usuario </h2>
                    <h1>Nombre de usuario: {{user.username}} </h1>
                    <button> Cambiar nombre</button>
                    <h1>Correo electrónico: {{user.email}}</h1>
                    <button formaction = "./email/"> Cambiar correo </button>
                    <h1>Contraseña</h1>
                    <button formaction="./password/"> Cambiar contraseña </button>
                </form>  
            </div>
        </div>

    </main>

    <script src="{% static '/assets/js/scriptdataModify.js' %}"></script>
    
    

</body>
</html>