{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistopía Login_Register </title>
    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
</head>
<body>

    <main>
        <div class="contenedor__todo">
            <div class="caja__trasera">
                <div class="caja__trasera-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesión para entrar a la página</p>
                    <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                </div>

                <div class="caja__trasera-register">
                    <h3>¿Aún no tienes cuenta?</h3>
                    <p>Regístrate para que puedas iniciar sesión</p>
                    <button id="btn__registrarse">Registrarse</button>
                </div>
            </div>
            <!--Formulario de login y registro-->
            <div class="contenedor__login-register">
                <!--Login-->
                <form action="login" method ="POST" class="formulario__login">
                    {% csrf_token %}
                    <h2>Iniciar Sesión</h2>
                    <input name = "username" type="text" placeholder="Usuario">
                    <input name = "password" type="password" placeholder="Contraseña">
                    <button>Entrar</button>
                    <style> h5 {color:red;}</style>
                    {% for message in messages %}
                    <h5>{{message}}</h5>
                    {% endfor %}
                </form>
                <!--Registro-->
                <form action="signup" method="POST" class="formulario__register">
                    {% csrf_token %}
                    <h2>Registrarse</h2>
                    <input name="email" type="text" placeholder="Correo Electronico" required>
                    <input name="username" type="text" placeholder="Usuario" required>
                    <input name="password" type="password" placeholder="Contraseña" required>
                    <input name="confirm-password" type="password" placeholder="Confirma la contraseña" required>
                    <button>Registrarse</button>
                </form>
            </div>
        </div>
    </main>

    <script src="{% static '/assets/js/script.js' %}"></script>

</body>
</html>