:root{
    --fuenteHeading: 'IBM Plex Mono', monospace;
    --primario: rgba(189, 176, 92);
    --secundario: rgba(220, 199, 130, 0.9);
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #F2F2F2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteHeading);
    font-size: 1.6rem;
    line-height: 1.5;
    background-image: url(../images/fondo-principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/**GLOBALES**/

.hidden {
    display: none !important;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

.back_button{
    position: absolute;
    text-align: center;
    background-color: var(--primario);
    padding: 1rem;
    top: 1rem;
    right: 1rem;
    color: #000000;
}

.back_button:hover{
    background-color: var(--secundario);
}

/*Utilidades*/
.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*BODY*/
/*body {
    background-image: url(../images/fondo-principal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/

/*HEADER*/
.header {
    background-color: var(--secundario);
    height: 20rem;
}

@media (min-width: 768px) {
    .header {
        height: 10rem;
    }
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin-left: 5rem;
        margin-right: 5em;
    }
}

.menu__hamburguesa{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin-right: 270px;
}

.menu__hamburguesa span {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: var(--negro);
    transform-origin: 0px 100%;
    margin-top: 0.6rem;
    transition: all 600ms;
}

.activeline1__menu-hamburguesa {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__menu-hamburguesa {
    opacity: 0;
    margin-left: -40px;
}

.activeline3__menu-hamburguesa {
    transform: rotate(-45deg) translate(-4px, 2px);
}


.logo {
    color: var(--negro);
}

.logo__nombre {
    font-weight: 700;
}

.enlaceIngresar {
    color: var(--negro);
    font-size: 2rem;
    min-width: 270px;
    text-align: right;
}

.menuLateral__navegacion {
    gap: 2rem;
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: var(--negro);
    margin-top: 4rem;
}

.menuLateral {
    font-family: var(--fuenteHeading);
    background-color: var(--primario);
    width: 260px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    visibility: hidden;
    margin-top: 70px;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 100;
}

.desplegar {
    visibility: visible;
    transform: translateX(0%);
}

.menuLateral__texto {
    margin: 0;
    font-size: 2.5rem;
}

.menuLateral__todos {
    margin-left: 2rem;
    cursor: pointer;
}

.menuLateral__fila {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 2rem;
    height: 3rem;
}

/*GRID*/
.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
    margin: auto 1rem;
    padding-bottom: 5%;
}
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto 2rem;
    }
}
@media (min-width: 1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto 2rem;
    }
}

/*EJERCICIOS*/
.ejercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secundario);
    padding: 1rem;
    margin-top: 5rem;
    max-width: 350px;
}

.ejercicio__nombre {
    font-size: 3rem;
}

.ejercicio__musculo {
    font-size: 2rem;
}

.ejercicio__nombre,
.ejercicio__musculo {
    color: var(--negro);
    font-family: var(--fuenteHeading);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

.ejercicio__imagen {
    min-height: 180px;
    max-height: 180px;
    min-width: 100%;
}


/**Exercise page style**/

.exercise{
    background-color: #FFF;
    margin: 5rem 20rem;
    padding: 3%;
}

.exercise__video{
    width: 100%;
    height: 500px;
}

.about{
    background-color: #FFF;
    margin: 5% 20rem;
    padding: 2%;
}

.exercise__related__contanier {
    display: flex;
    background-color: var(--primario);
}

.exercise__related__contanier a:hover{
    background-color: var(--secundario);
}

.exercise__related {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    padding: 7% 13%;
}

.exercise__related__image {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.exercise__related__not__found {
    padding: 3%;
}

/**********************************************************************************************/
/**Routine page styles**/
/**********************************************************************************************/

.routines{
    background-color: #FFF;
    margin: 5% 10rem;
    display: flex;
    position: relative;
}

.top_routine{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.nombre_rutina{
    margin: 0;
    font-size: 2rem;
    margin-right: 15rem;
}

.button_routines{
    width: 10%;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.boton_nombre{
    background-color: #0A69BD;
}
.boton_agregar{
    background-color: green;
}
.boton_eliminar{
    background-color: red;
}

.ejercicio_rutina{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--secundario);
    height: 100%;
    padding-left: 1%;
    margin: 2rem;;
}

.ejercicio_rutina h4{
    margin-right: 1rem;
    margin-bottom: 10rem;
}

.ejercicio_rutina_elemento{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
}

.ejercicio_rutina_elemento_cerrar{
    position: absolute;
    width: 30px;
    height: 30px;
}

.numero_ejercicio{
    margin-right: 3rem;
}

.ejercicio_layout{
    margin-top: 0;
    max-width: 250px;
    min-width: 250px;
    position: relative;
}

.nombre_ejercicio_rutina{
    font-size: 2rem;
}

.param_ejercicio{
    width: 70%;
    height: 80%;
    margin-left: 1rem;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-right: 0;
}


.campo label{
    margin-right: 1rem;
}

.campo_ejercicio{
    width: 50%;
    height: 3rem;
    border-radius: 6px;
    border: 2px solid var(--negro);
    margin-top: 1rem;
}

.ejercicio_rutina_input_titulo{
    position: absolute;
    padding: 1rem;
    margin: 1rem 0;
    margin-right: 1rem;
    top: 15.5rem;
    left: 4rem;
    width: 35rem;
}

.ejercicio_rutina_button_crear{
    position: absolute;
    padding: 1rem;
    margin: 1rem 0;
    margin-right: 1rem;
    top: 15.5rem;
    left: 39rem;
}

.ejercicio_rutina_button_modificar{
    position: absolute;
    padding: 1rem;
    margin: 1rem 0;
    margin-right: 1rem;
    top: 15.5rem;
    left: 39rem;
    background-color: #080;
}



/**********************************************************************************************/
/**********************************************************************************************/


/**********************************************************************************************/
/**Filter**/
/**********************************************************************************************/

.filter_main {
    background-color: #FFF;
    margin: 0% 10%;
    padding: 0 1% 1% 1%;
}

.main_filter_catalogue {
    background: transparent;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 10rem;

}

.main .filter {
    background: #FFF;
    padding: 3rem 4rem;
    border-radius: 0.5rem;
}

.main .filter h3{
    padding-top: 0 !important;
    margin-top: 0 !important;
}

/**********************************************************************************************/
/**********************************************************************************************/

