{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistoía</title>

    <link rel="stylesheet" href="{% static '/assets/css/normalize.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/logo.jpeg' %}" />
    <link rel="stylesheet" href="{% static '/assets/css/stylesPrincipal.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/stylesRutina.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">

        <div class="barra">
            <div id="open-close" class="menu__hamburguesa">
                <span class="line1__menu-hamburguesa"></span>
                <span class="line2__menu-hamburguesa"></span>
                <span class="line3__menu-hamburguesa"></span>
            </div>

            <a class="logo" href="/">
                <h1 class="logo__nombre no-margin centrar-texto">CALISTOPÍA</h1>
            </a>

            
            {% if user.is_authenticated %}
            <a class="enlaceIngresar" href="/user/">
                <p>Perfil</p>
            </a>
            {% else %}
           
            <a class="enlaceIngresar" href="/login/">
                <p>Ingresar</p>
            </a>
            {% endif %}
            
        </div>

    </header>

    <aside id="aside" class="menuLateral">

        <nav class="menuLateral__navegacion">
            <a href="/about/" class="navegacion__enlace">Nosotros</a>
            <a href="/feedback/" class="navegacion__enlace">PQRS</a>
            {% if user.is_authenticated %}
            <a href="/logout/" class="navegacion__enlace">Cerrar Sesión</a>
            {% endif %}
        </nav>

    </aside>

    <div class="routine">

        <a href="/user/" class="back_button_routine">Volver</a>

        <input class="routine_title" value="{{ title }}" readonly />
        <a class="routine_modify_button {{ routine_id }}" href="/routine/modify/{{ routine_id }}">Modificar rutina</a>
        <form action="/routine/delete/{{ routine_id }}/" method="POST" class="form_delete_routine">
            {% csrf_token %}
            <button>Eliminar rutina</button>
        </form>
        {% for exercise in exercises %}
        <a href="/exercise/{{ exercise.item.id }}" class="routine_exercise {{ exercise.item.id }}" target="_blank">
            <div class="routine_exercise_item">
                <img class="routine_exercise_item_imagen" src="{{ exercise.item.logo }}" alt="logo_ejercicio">
                <h4 class="routine_exercise_item_nombre">{{ exercise.item.name }}</h4>
            </div>
            <div class="routine_exercise_description">
                <h5 class="routine_exercise_description_serie">Series: {{ exercise.series }}</h5>
                <h5 class="routine_exercise_description_repeteicion">Repeticiones: {{ exercise.cycles }}</h5>
                <h5 class="routine_exercise_description_descanso">Descanso (Minutos): {{ exercise.rest }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>

    <script src="{% static '/assets/js/scriptPaginaPrincipal.js' %}"></script>

</body>
</html>
