{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calistopía user_feedback </title>

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/assets/images/logo.jpeg' %}" />

</head>
<body>

    <main>
        <div class="contenedor__dataModify" id="blur">
            <form class="formulario__actualizaDatos" action = "./delete">
                <h1>{{feedback.content}}</h1>
                <br>
                <button style = "background-color : #DF2A2A;"> Eliminar {{feedback.feedback_type}} </button>
            </form>
        </div>
    </main>

    <script src="{% static 'assets/js/scriptdataModify.js' %}"></script>
</body>
</html>